<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <h2 class="title-main-section">CIUDADES MEJOR CALIFICADAS</h2>
      </div>
      <mat-grid-list cols="4" rowHeight="1:1.4">
        <div *ngFor="let ciudad of listMejoresCiudades">
          <mat-grid-tile>
            <mat-card class="example-card" appearance="outlined">
              <img mat-card-image src="{{ciudad.url}}" width="280" height="350px" alt="Foto de la ciudad de {{ciudad.ciudad}}">
              <mat-card-header>
                <mat-card-title class="text-title-custom">{{ciudad.ciudad}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="d-flex align-items-center"> <mat-icon>star</mat-icon>
                  {{ciudad.puntaje }}
                  ({{ciudad.visitantes}} visitantes)
                </p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </div>
      </mat-grid-list>

    </div>
  </div>
</div>