.example-card {
  max-width: 280px;
}

.example-header-image {
  background-size: cover;
}

.text-title-custom{
  font-size: 1.5em;
  font-weight: 500;
  color: #535353;
}
.title-main-section{
  font-size: 2.0em;
  font-weight: 600;
  color: #535353;
}