<div>
  <div class="container">
    <div class="row">
      <div class="container-header-info-details">
        <h2>Superior Family Room</h2>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <span>stars</span>
            <span>200 (visitantes)</span>
            <p>Ciudad Tokyo</p>
            <p>Japón</p>
          </div>
          <div class="d-flex">
            <img src="" alt="💗"><span>Guardar</span>
          </div>
        </div>
      </div>

      <div class="container-image-details">
        <div class="w-75 h-100 custom-container-img-border p-2">
          <img src="img/detail1.png" width="100%" height="100%" alt="hola">
        </div>
        <div class="w-25 d-flex flex-column h-100 py-2 pe-2">
          <div class="w-100 custom-size-container-img pb-2">
            <img src="img/detail2.png" width="100%" height="100%" alt="hola">
          </div>
          <div class="w-100 custom-size-container-img pb-2">
            <img src="img/detail3.png" width="100%" height="100%" alt="hola">
          </div>
          <div class="w-100 custom-size-container-img ">
            <img src="img/detail4.png" width="100%" height="100%" alt="hola">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
