<div class="container d-flex justify-content-center">
  <div class="col-md-6">
    <div class="w-100 my-5 d-flex flex-column justify-content-center align-items-center">
      <img src="img/viaje.png" width="50%" alt="">
      <h6 class="my-3">Reserva confirmada</h6>
      <p class="text-center">¡Gracias por confiar en nosotros! Tu reserva ha sido confirmada. Te hemos enviado un correo con los detalles de tu reserva.</p>
    </div>
    <div class="card-custom-reservation">
      <div class="w-100">
        <ul class="list-unstyled">
          <li><img src="" alt="calendario">Julio 22-25, 2024</li>
          <li><img src="" alt="mapa">1235 Washington DC, Estados Unidos</li>
          <li><img src="" alt="reloj">Ingreso al Hotel Antes de las 2 PM</li>
          <li><img src="" alt="reloj">Salida del hotel 11 AM</li>
        </ul>
      </div>
      <hr>
      <div class="w-100 my-4">
        <h6>Detalles de la reserva</h6>
        <div class="w-100 d-flex justify-content-between">
          <span>Monto Pagado</span>
          <span>$330</span>
        </div>
        <div class="w-100 d-flex justify-content-between">
          <span>Código de Reserva del Hotel</span>
          <span>HCNEPLSV12</span>
        </div>
      </div>
      <div class="container-hotel w-100 d-flex justify-content-between">
        <div class="w-40 he-100">
          <img src="img/hotel1.png" width="100%" height="100%" alt="">
        </div>
        <div class="container-info-hotel w-60 he-100">
          <div class="px-3 he-100">
            <div class="w-75 he-100 container-info-hotel-reservation">   
              <div>
                <span>Hotel en Estados Unidos</span>
                <h6>Habitación para 4 personas</h6>
                <p>1000 likes</p>
              </div>
              <div>
                <span>stars</span>
                <span>300 visitantes</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
