<div class="container d-flex justify-content-center">
  <div class="col-md-6">
    <div class="w-100 my-5 d-flex flex-column justify-content-center align-items-center">
      <img src="img/viaje.png" width="50%" alt="">
      <h6 class="my-3">Reserva confirmada</h6>
      <p class="text-center">¡Gracias por confiar en nosotros! Tu reserva ha sido confirmada. Te hemos enviado un correo con los detalles de tu reserva.</p>
    </div>
    <div class="card-custom-reservation">
      <div class="w-100">
        <ul class="list-unstyled">
          <li class=" my-2 d-flex align-items-center">
            <mat-icon class="custom-icon-calendar">calendar_month</mat-icon> 
            <span class="mb-0 mx-2">Desde {{fechasReservadas.fechaInicio}} Hasta {{fechasReservadas.fechaFin}} ({{fechasReservadas.cantidadDias}} Días)</span>
          </li>
          <li class=" my-2 d-flex align-items-center">
            <mat-icon class="custom-icon-timer">timer</mat-icon> 
            <span class="mb-0 mx-2">Llegada al Hotel {{fechasReservadas.horaInicio}}</span>
          </li>
          <li class=" my-2 d-flex align-items-center">
            <mat-icon class="custom-icon-timer">timer</mat-icon> 
            <span class="mb-0 mx-2">Salida del Hotel {{fechasReservadas.horaFin}}</span>
          </li>
          <li class=" my-2 d-flex flex-column align-items-center">
            <mat-icon class="custom-icon-map">map</mat-icon> 
            <span class="mb-0 mx-2">Ubicación</span>
            <app-map></app-map>
            <!-- <app-map-prueba></app-map-prueba> -->
          </li>
        </ul>
      </div>
      <hr>
      <div class="w-100 my-4">
        <h6>Detalles de la reserva</h6>
        <div class="w-100 d-flex justify-content-between">
          <span>Monto Pagado</span>
          <span>${{fechasReservadas.total}} Cop.</span>
        </div>
        <div class="w-100 d-flex justify-content-between">
          <span>Código de Reserva del Hotel</span>
          <span>HCNEPLSV12</span>
        </div>
      </div>
      <div class="container-hotel w-100 d-flex justify-content-between">
        <div class="w-40 he-100">
          <img src="{{habitacion.url}}" class="img-custom-confirmation" alt="">
        </div>
        <div class="container-info-hotel w-60 he-100">
          <div class="px-3 w-100 he-100">
            <div class="w-100 he-100 container-info-hotel-reservation">   
              <div class="w-100">
                <h6 class="">Habitación en {{habitacion.nombreHotel}}</h6>
                <span>Habitación para {{habitacion.capacidad}} personas</span>
              </div>
              <div class="d-flex align-items-center">
                <mat-icon>star</mat-icon>
                <p class="mx-2 mb-0">{{habitacion.calificacion}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
