<div class="row">
  <h3>Servicios</h3>
  <div class="w-100 ">
    <ul class="container-custom-size-services">
      <li><img src="" alt="Cocina"><span>Cocina</span></li>
      <li><img src="" alt="TV"><span>TV</span></li>
      <li><img src="" alt="Aire acondicionado"><span>Aire acondicionado</span></li>
      <li><img src="" alt="Wifi"><span>Wifi</span></li>
      <li><img src="" alt="Kit primeros auxilios"><span>Kit primeros auxilios</span></li>
      <li><img src="" alt="Cafe"><span>Cafe</span></li>
      <li><img src="" alt="Renta de bicicletas"><span>Renta de bicicletas</span></li>
      <li><img src="" alt="Heating"><span>Heating</span></li>
    </ul>
  </div>
</div>


