<div class="w-100 container-custom-footer">
  <div class="container d-flex justify-content-evenly align-items-center">
    <div class="w-25">
      <h3>Soporte</h3>
      <ul>
        <li>Contactanos</li>
        <li>Quejas</li>
        <li>Consultas</li>
      </ul>
    </div>
    <div class="w-25">
      <h3>Comunidad</h3>
      <ul>
        <li>Viajeros</li>
        <li>Blog</li>
        <li>Foro</li>
      </ul>
    </div>
    <div class="w-25">
      <h3>Acerca</h3>
      <ul>
        <li>Quienes somos</li>
        <li>Politicas</li>
        <li>Terminos y condiciones</li>
      </ul>
    </div>
    <div class="w-25">
      <h3>Redes Sociales</h3>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </div>
  </div>
  <div class="container container-custom-rights">
    <div class="d-flex justify-content-evenly align-items-center">
      <p>© 2021 Todos los derechos reservados</p>
      <p>Sitio Web Desarrollado por OnyxStore</p>
    </div>
  </div>
</div>
