.w-45{
  width: 45%;
}
.card-custom{
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
  border: none;
  padding: 15px;
}
.w-90{
  width: 90%;
}
.w-95{
  width: 95%;
}
.btn-custom-register{
  background-color: #580084;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-custom-register:hover{
  background-color: #7402ad;
}
.btn-custom-register:active{
  background-color: #f0d9ef;
}