<app-navbar></app-navbar>
<div class="container w-100 hv-100">
  <div class="row w-100 hv-100">
    <div class="col-md-6 mx-auto my-5">
      <div class="card card-body card-custom">
        <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Registrarse</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="form-group my-2 w-45">
              <mat-form-field appearance="outline">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Ejem: Brayan" formControlName="nombres" required>
                <mat-icon matSuffix>edit</mat-icon>
              </mat-form-field>
            </div>
            <div class="form-group my-2 w-45">
              <mat-form-field appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Ejem: Arango" formControlName="apellidos" required>
                <mat-icon matSuffix>edit</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="form-group my-2 w-45">
              <mat-form-field appearance="outline" class="w-90">
                <mat-label>Genero</mat-label>
                <mat-select required formControlName="idGenero">
                  <mat-option *ngFor="let gen of generos" value="{{gen.idGenero}}">{{gen.genero}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group my-2 w-45">
              <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput placeholder="Ejem: 3102141241" formControlName="telefono" required>
                <mat-icon matSuffix>call</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="form-group my-2 w-45">
              <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="Ejem: Calle 16 sur" formControlName="direccion" required>
                <mat-icon matSuffix>home</mat-icon>
              </mat-form-field>
            </div>
            <div class="form-group my-2 w-45">
              <mat-form-field appearance="outline" class="w-90">
                <mat-label>Ciudad</mat-label>
                <mat-select required formControlName="idCiudad">
                  <mat-option *ngFor="let ciudad of ciudades" value="{{ciudad.idCiudad}}">{{ciudad.ciudad}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group my-2 ">
            <mat-form-field appearance="outline" class="w-95">
              <mat-label>Correo</mat-label>
              <input matInput type="email" placeholder="Ejem: example@gmail.com" formControlName="correo" required>
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
          </div>
          <div class="form-group my-2">
            <mat-form-field appearance="outline" class="w-95">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" placeholder="Ejem: Calle 16 sur" formControlName="contraseña" required>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </div>
          
          <button type="submit" class="btn w-100 my-4 btn-primary btn-custom-register">Registrar</button>
        </form>
        <p class="lead mt-4 w-100 text-center">¿Ya tienes una cuenta? <a routerLink="/login" class="custom-register">Login</a></p>
      </div>
    </div>
  </div>
</div>