<div class="w-100">
  <div class="container">
    <div class="row d-flex w-100 justify-content-evenly align-items-center py-3">
      <div class="w-50 container-img position-relative">
        <div class="position-absolute w-75 mx-3 d-flex justify-content-center align-items-start flex-column">
          <h2 class="">Actividades a un bajo costo</h2>
          <p class="">
            Encuentra las mejores actividades para tu viaje a un bajo costo  
          </p>
          <button class="btn btn-warning">Actividades Econónimas</button>
        </div>
        <img src="img/event1.png" alt="">
      </div>
      <div class="w-50 container-img position-relative">
        <div class="position-absolute w-75 mx-3 d-flex justify-content-center align-items-start flex-column">
          <h2 class="">Actividades con alta demanda</h2>
          <p class="">
            Encuentra las actividades más solicitadas por los usuarios para tu viaje
          </p>
          <button class="btn btn-warning">Actividades Imperdibles</button>
        </div>
        <img src="img/event2.png" alt="">
      </div>
    </div>
  </div>
</div>
