.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}
.container-hotel{
  height: 250px;
}
.container-info-hotel{
  height: 100%;
  padding: 10px 20px;
}
.container-prices{
  height: 100%;
}

.he-100{
  height: 100%;
}
.star-custom{
  color: #9800cb;
  margin-right: 4% ;
}

.material-symbols-outlined{
  color: #b6b6b6b1;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.2s;
}
.material-symbols-outlined:hover{
  color: #9800cb;
}
.title-custom-size{
  font-size: 1.8em;
  font-weight: 500;
}
.custom-bold{
  font-weight: 900;
}

.title-hoteles{
  font-size: 1.5em;
  font-weight: 400;
  color: #535353;
}
.custom-parrafo{
  font-size: 1em;
  font-weight: 300;
  color: #535353;
}

.custom-image-hotel{
  object-fit: cover;
  border-radius: 12px;
}

.custom-parrafo-descripcion{
  font-size: 0.8em;
  font-weight: 300;
  color: #535353;
  overflow-y: hidden;
  max-height: 70px;
}