<!-- cREAR GALERIA -->
<div class="my-5">
  <div class="container ">
    <div class="row-custom">
      <div class="column">
        <img src="img/paisaje1.jpg" alt="Imagen 1" class="image-span-two">
      </div>
      <div class="column">
        <img src="img/paisaje2.jpg" alt="Imagen 2" class="image-single">
        <img src="img/paisaje3.jpg" alt="Imagen 3" class="image-single">
      </div>
      <div class="column">
        <img src="img/paisaje4.jpg" alt="Imagen 4" class="image-span-two">
      </div>
    </div>
  </div>
</div>