<!-- cREAR GALERIA -->
<div class="my-5">
  <div class="container">
    <div class="d-flex w-100 justify-content-center">
      <div class="row-custom">
        <div class="column position-relative">
          <img src="img/cat1.png" alt="Imagen 1" class="image-span-two">
          <div class="position-absolute custom-position-absolute">
            <p class="custom-text-position">Al aire Libre</p>
            <span>+ 40 Hoteles</span>
          </div>
        </div>
        <div class="column">
          <div class="w-100 position-relative">
            <img src="img/cat4.png" alt="Imagen 2" class="image-single">
            <div class="position-absolute custom-position-absolute">
              <p class="custom-text-position">Casas</p>
              <span>+ 50 Casas</span>
            </div>
          </div>
          <div class="w-100 position-relative">
            <img src="img/cat3.png" alt="Imagen 3" class="image-single">
            <div class="position-absolute custom-position-absolute">
              <p class="custom-text-position">Destinos increibles</p>
              <span>+ 100 Lugares</span>
            </div>
          </div>
        </div>
        <div class="column position-relative">
          <img src="img/cat2.png" alt="Imagen 4" class="image-span-two">
          <div class="position-absolute custom-position-absolute">
            <p class="custom-text-position">Amigables con mascotas</p>
            <span>+ 80 Hoteles</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>