.row-custom {
  width: 85%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.column {
  grid-column: span 3;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.column img {
  width: 350px;
  height: 100%;
}

.image-span-two {
  grid-column: 1 / span 2;
  grid-row: 1;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.image-single {
  grid-column: 1;
  grid-row: 2;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.custom-position-absolute{
  bottom: 10%;
  left: 5%;
  color: white;
}
.custom-text-position{
  font-size: 1.5em;
  font-weight: 500;
}