<div class="row">
  <h3>Descripción</h3>
  <div>
    <img src="" alt="casa">
    <p>6 visitantes 4 camas 1 baño privado</p>
    <div>
      <img src="" alt="">
      <p>Cancelación gratis durante 48 horas</p>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit similique ipsam dolor expedita eaque ex qui assumenda aliquid adipisci 
        optio hic obcaecati perspiciatis dolorem, nesciunt libero! Asperiores illum distinctio tempore.
      </p>
      <ul>
        <li>Lorema scaas cuvuisdbv sd sdiuhv esjhdiu </li>
        <li>a kjndajskvewoi vvlñerkñ hbtrb</li>
        <li> vsdvkknsdlkñ ntnkaoppo poasoppod3 ewflwke </li>
      </ul>
    </div>
  </div>
</div>


