<div class="row">
  <h3 class="title-custom-room">Detalles del Hotel</h3>
  <div>
    <div class=" w-100 ">
      <mat-icon class="custom-icon-house">house</mat-icon>
      <ul class="w-100">
        <li class="custom-tag my-2">Ubicación en la ciudad de {{hotelDetails[0].ciudad}}</li>
        <li class="custom-tag my-2">Se encuentra en {{hotelDetails[0].pais}}</li>
        <li class="custom-tag my-2">Contacto: {{hotelDetails[0].correo}}</li>
        <li class="custom-tag my-2">Hostal: {{hotelDetails[0].categoria}}</li>
        <li class="custom-tag my-2">Genero Permitido: {{hotelDetails[0].generoPermitido}}</li>
      </ul>
    </div>
    <div class="d-flex align-items-center my-4">
      <mat-icon class="custom-icon-calendar">calendar_month</mat-icon>
      <p class="mb-0 mx-3"><b>Cancelación gratis durante 48 horas</b></p>
    </div>
    <div class="d-flex flex-column">
      <p>
        {{hotelDetails[0].descripcion}}
      </p>
      <span class="mb-3"><b>{{hotelDetails[0].nombreHotel}}</b></span>
    </div>
  </div>
</div>



