<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="img/paisaje1.jpg" alt=""></div>
    <div class="swiper-slide"><img src="img/paisaje2.jpg" alt=""></div>
    <div class="swiper-slide"><img src="img/paisaje3.jpg" alt=""></div>
    <div class="swiper-slide"><img src="img/paisaje4.jpg" alt=""></div>
    <div class="swiper-slide"><img src="img/paisaje5.jpg" alt=""></div>

    <!-- <div *ngFor="let item of images">
      <div class="swiper-slide">
        <img [src]="item" alt="">
      </div>
    </div> -->
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>