<div class="container">
  <div class="col w-100">
    <div class="my-4">
      <img src="" alt="star">
      <span>4.50</span>
      <span>(300 visitantes)</span>
    </div>
    <div class="container-references">
      <mat-card class="example-card" appearance="raised">
        <mat-card-header>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img-border-custom">
          <mat-card-title-group class="mx-2 align-items-center">
            <mat-card-title>Marcos Adbul</mat-card-title>
            <mat-card-subtitle>Marzo 20</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="my-3">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit est eaque tempore ad 
            mollitia ut! Eaque aliquid, nobis porro suscipit ipsam molestias quisquam nam nisi dolores provident quas eligendi rerum.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card" appearance="raised">
        <mat-card-header>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img-border-custom">
          <mat-card-title-group class="mx-2 align-items-center">
            <mat-card-title>Marcos Adbul</mat-card-title>
            <mat-card-subtitle>Marzo 20</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="my-3">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit est eaque tempore ad 
            mollitia ut! Eaque aliquid, nobis porro suscipit ipsam molestias quisquam nam nisi dolores provident quas eligendi rerum.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>