<div>
  <nav class="navbar navbar-expand-lg navbar-light-custom p-3">
    <a class="mx-3" routerLink="/home">
      <img src="img/logo-hotel-calidad.png" width="80px"  alt="Logo Hotel Finder">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active mx-2">
          <a class="nav-link" routerLink="/home">Incio</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/places">Hoteles</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/rooms">Habitaciones</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="">Actividades</a>
        </li>
      </ul>
    </div>
    <div>
      <a class="nav-link mx-2" routerLink="/login">Iniciar Sesión</a>
    </div>
  </nav>
</div>
