<div class="w-100 px-5 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Filtros</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tipo de lugar</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Hotel</option>
            <option>Restaurante</option>
            <option>Bar</option>
            <option>Parque</option>
            <option>Playa</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Precio</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Barato</option>
            <option>Medio</option>
            <option>Caro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Calificación</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Distancia</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1 km</option>
            <option>2 km</option>
            <option>3 km</option>
            <option>4 km</option>
            <option>5 km</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
  </div>
</div>
