.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}
.container-hotel{
  height: 300px;
}
.container-info-hotel{
  height: 100%;
  padding: 10px 20px;
}
.container-prices{
  height: 100%;
}

.he-100{
  height: 100%;
}