<div class="col">
  <div class="container-info-user align-items-center justify-content-center d-flex w-100">
    <div class="w-80">
      <div>
        <h3>Historial de Reservas</h3>
      </div>
      <div class="pt-4 w-100">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha de Reserva</th>
                <th scope="col">Fecha de Inicio</th>
                <th scope="col">Fecha de Fin</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>01/01/2021</td>
                <td>01/02/2021</td>
                <td>01/03/2021</td>
                <td>$100</td>
                <td>Activa</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>01/01/2021</td>
                <td>01/02/2021</td>
                <td>01/03/2021</td>
                <td>$100</td>
                <td>Activa</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>01/01/2021</td>
                <td>01/02/2021</td>
                <td>01/03/2021</td>
                <td>$100</td>
                <td>Activa</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>01/01/2021</td>
                <td>01/02/2021</td>
                <td>01/03/2021</td>
                <td>$100</td>
                <td>Activa</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>01/01/2021</td>
                <td>01/02/2021</td>
                <td>01/03/2021</td>
                <td>$100</td>
                <td>Activa</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>01/01/2021</td>
                <td>01/02/2021</td>
                <td>01/03/2021</td>
                <td>$100</td>
                <td>Activa</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>01/01/2021</td>
                <td>01/02/2021</td>
                <td>01/03/2021</td>
                <td>$100</td>
                <td>Activa</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>



